<% if current_user%>
	Welcome <%= current_user.email%>
	<%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %>
	<br />
	<h1>Listing albums</h1>
	<% current_user.albums.each do |album| %>
		<div style="width:400px;height:100px;clear:both;">
			<div style="float:left;position:relative;top:50px;">
			    <b><%= album.title %></b>
			</div>
			<div style="float:left;position:relative;left:50px;">
				<% unless album.photos.empty?%>
			    	<%= image_tag album.photos[rand(album.photos.length)].poster.url, :style=>"max-height:100px;max-width:100px;height:100px;width:100px;" %>
			    <% else%>
			    	<%= image_tag "/images/no_preview.jpg", :style=>"max-height:100px;max-width:100px;height:100px;width:100px;" %>
				<% end %>
			</div>
			<div style="float:left;position:relative;left:100px;top:50px;">
		    <%= link_to 'View Album', album %>
			</div>
		</div>
<!-- 	    <%= link_to 'Edit', edit_album_path(album)  %> -->
<!-- 	    <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %> -->
	<% end %>
	<br />
	<%= link_to 'New Album', new_album_path %>
<% else %>
	<div style="font-size: 25px;height: 200px;text-align: center;position: relative;top: 110px;">
		<div style="height: 50%;">
			<%= link_to "Sign In", new_user_session_path %>
		</div>
		<div style="height: 50%;">
			<%= link_to "Sign Up", new_user_registration_path %>
		</div>
	</div>
<% end %>
